@font-face {
    font-family: font1;
    src: url("../fonts/BunchBlossomsPersonalUse-0nA4.ttf");
}

@font-face {
    font-family: font2;
    src: url("../fonts/MetalsmithRegular-p7ylO.otf");
}
@font-face {
    font-family: font3;
    src: url("../fonts/AlliancePersonalUse-6z0o.ttf");
}
body, h1, h2, p, ul {
    margin: 20px;
    padding: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    max-width: 15%;
    height: auto;
    border-radius: 55%;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding:15px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #ff5500;
    font-family: font1;
    font-size: 35px;
}
nav a:hover{
    color: #d44;
}
.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero:hover{
    height: 80vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero div{
    text-align: center;
    padding: 2em;
}
.hero div h1{
    font-family: font2;
    font-size: 45px;

}
.hero div p{
    font-family: font3;
    font-size: 25px;
}
.cta-button {
    display: inline-block;
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d44;
}

.hero1, .hero2 {
    text-align: center;
    padding: 2em;
    background-color: #fff;
    margin: 20px 0;
}
.hero1{
    display:flex;
    flex-direction: column;
}
.container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
.container div img{
    width:100%;
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}
.container div img:hover {
    transform: scale(1.1);
}
.container div p{
    font-family: font1;
    font-size: 25px;
}
.hero1 div {
    margin: 20px;
}
.hero1 div h2{
    font-family: font1;
    font-size: 35px;
    color: #ff5500;
}
.hero2 {
    height: 80vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/holiday.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2:hover{
    height: 80vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/holiday2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2 div h2{
    font-family: font2;
    font-size: 45px;
}
.hero2 div p{
    font-family: font3;
    font-size: 25px;
}
footer {
    color: #333;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Form Styles */
.contact-form {
    max-width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d44;
}
.additional-content h2,
.social-media h2,
.contact-form h2{
    font-family: font1;
}

.additional-content,
.social-media {
    margin-bottom: 20px;
}

.additional-content ul,
.social-media ul {
    list-style-type: none;
    padding: 0;
}

.additional-content li,
.social-media li {
    margin-bottom: 8px;
}

footer p {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    text-align: center;
}

.social-media a {
    color: #3498db;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.action h2{
    font-family: font1;
    text-align: center;
}
.action p{
    font-family: cursive;
    padding-left: 30px;
}
.contactinfo h2{
    font-family: font1;
    text-align: center;
}
.contactinfo h3{
    font-family: font3;
    padding-left: 35px;
}
.contactinfo p{
    font-family: cursive;
    padding-left: 30px;
}
.Fav, .holiday, .Wedding, .Bath{
    text-align: center;
    margin: 50px 20px;
}

.Fav h3, .holiday h3, .Wedding h3, .Bath h3{
    font-family: font3;
    font-size: 2em;
    color: #333;
    letter-spacing: 4px;
}

.fav1, .holiday1, .wedding1, .bath1{
    display: flex;
    justify-content: space-around;
}

.fav1 div, .holiday1 div, .wedding1 div, .bath1 div {
    width: 30%;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.fav1 div:hover, .holiday1 div:hover, .wedding1 div:hover, .bath1 div:hover {
    transform: scale(1.05);
}

.fav1 img, .holiday1 img, .wedding1 img, .bath1 img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 3px;
    transform: rotateY(0deg);
    transition: transform 1s;
}
.fav1 img:hover, .holiday1 img:hover, .wedding1 img:hover, .bath1 img:hover{
    transform: rotateY(360deg);
}

.fav1 p, .holiday1 p, .wedding1 p, .bath1 p{
    margin:5px;
    padding:5px;
    font-family: font1;
    font-size: 25px;
    color: #666;
}
.fav1 p:last-child, .holiday1 p:last-child, .wedding1 p:last-child, .bath1 p:last-child{
    font-family: cursive;;
}
@media only screen and (max-width: 767px) {


    header {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header img{
        max-width: 15%;
        margin-left: 100px;
        height: auto;
        border-radius: 55%;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        padding:5px;
    }

    nav a {
        text-decoration: none;
        margin: 0 5px;
        color: #ff5500;
        font-family: font1;
        font-size: 10px;
    }

    .hero {
        width: auto;
        height: 26vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/background.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero:hover{
        width: auto;
        height: 26vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/back.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero div{
        text-align: center;
        padding: 2em;
    }
    .hero div h1{
        font-family: font2;
        font-size: 5px;
        padding: 0px;

    }
    .hero div p{
        font-family: font3;
        font-size: 5px;
        padding: 0px;
    }
    .cta-button {
        display: inline-block;
        background-color: #ff5500;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 5px;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: #d44;
    }

    .hero1, .hero2 {
        text-align: center;
        padding: 0.5em;
        background-color: #fff;
        margin: 10px 0;
    }

    .container div img{
        width:70%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .container div p{
        font-family: font1;
        font-size: 10px;
    }
    .hero1 div {
        margin:2px;
    }
    .hero1 div h2{
        font-family: font1;
        font-size: 15px;
        color: #ff5500;
    }
    .hero2 {
        width: auto;
        height: 26vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/holiday.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero2:hover{
        width: auto;
        height: 26vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("../images/holiday2.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #f5f5f5;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero2 div h2{
        font-family: font2;
        font-size: 15px;
        padding: 0px;
    }
    .hero2 div p{
        font-family: font3;
        font-size: 15px;
        padding:0px;
    }
    footer {
        color: #333;
        text-align: center;
        padding: 1em;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .additional-content,
    .social-media{
        font-size: 10px;
    }

    .additional-content ul,
    .social-media ul {
        list-style-type: none;
        padding: 0;
    }

    .additional-content li,
    .social-media li {
        font-size: 8px;
        margin-bottom: 8px;
    }

    footer p {
        margin-top: 20px;
        color: #777;
        font-size: 5px;
        text-align: center;
    }
    .action p{
        font-family: cursive;
        padding-left: 30px;
    }
    .contact-form h2{
        font-size: 15px;
        padding:0px;
    }
    .contactinfo h2{
        font-family: font1;
        text-align: center;
    }
    .contactinfo h3{
        font-family: font3;
        padding-left: 35px;
    }
    .contactinfo p{
        font-family: cursive;
        padding-left: 30px;
    }
    .Fav, .holiday, .Wedding, .Bath{
        text-align: center;
        margin: 50px 20px;
    }

    .Fav h3, .holiday h3, .Wedding h3, .Bath h3{
        font-family: font3;
        font-size: 1em;
        color: #333;
        letter-spacing: 4px;
    }

    .fav1, .holiday1, .wedding1, .bath1{
        display: flex;
        justify-content: space-around;
    }

    .fav1 div, .holiday1 div, .wedding1 div, .bath1 div {
        width: 25%;
        height: auto;
        padding: 5px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .fav1 div:hover, .holiday1 div:hover, .wedding1 div:hover, .bath1 div:hover {
        transform: scale(1.05);
    }

    .fav1 img, .holiday1 img, .wedding1 img, .bath1 img{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 3px;
        transform: rotateY(0deg);
        transition: transform 1s;
    }
    .fav1 img:hover, .holiday1 img:hover, .wedding1 img:hover, .bath1 img:hover{
        transform: rotateY(360deg);
    }

    .fav1 p, .holiday1 p, .wedding1 p, .bath1 p{
        margin:5px;
        padding:5px;
        font-family: font1;
        font-size: 10px;
        color: #666;
    }
    .fav1 p:last-child, .holiday1 p:last-child, .wedding1 p:last-child, .bath1 p:last-child{
        font-family: cursive;;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header img{
        max-width:100%;
        height: auto;
    }
}